@layer base {
	.trigger {
		background: none;
		border: none;
		padding: 0;
		cursor: pointer;

		&[data-state='open'] {
			cursor: default;
		}
	}

	.toolbar {
		display: flex;
		position: sticky;
		top: 0;
		justify-content: space-between;

		// toolbar displays only a bottom-border
		border-top: none;
		border-left: none;
		border-right: none;
	}
}