@use '../popover/Popover.mixin' as popover;
@use '../popover/PopoverTrigger.module' as trigger;
@use '../../styles/lib/component' as *;
@use '../../styles/lib/states' as *;
@use '../../styles/lib/hooks/text' as *;

$__stylesheet__: (
	name: term,
);

@layer base {
	.root {
		--content: '*';
		--offset-y: -0.3em;
		--decoration-color: #000;

		.label {
			color: var(--ml-color-text-action);
			@include use-font-style;
			@include popover.trigger("popover-trigger");
		}

		&::after {
			position: relative;
			cursor: pointer;
			content: var(--ml-content-term-suffix);
			top: -0.3em;

			// @include use-text-color("term-suffix");
			// @include use-offset-y("term-suffix");
			// @include annotation.suffix("term");
		}
	}
}