
@layer component {
	.root {
		background-color: var(--ml-color-controls-level2);
		align-self: stretch;
		justify-self: center;
		margin: 4px;

		&[data-orientation='vertical'] {
			width: 1px;
		}

		&[data-orientation='horizontal'] {
			height: 1px;
		}
	}
}