@use "./Separator.meta" as *;
@use '../../styles/lib/component' as *;
@use '../../styles/lib/states' as *;
@use "../../styles/lib/hooks/box" as *;


.root {
	@include use-background-color;

	&[data-orientation='vertical'] {
		width: 1px;
		height: 16px;
	}

	&[data-orientation='horizontal'] {
		width: 16px;
		height: 1px;
	}
}
