
@layer component {
	.root {
		background: var(--ml-color-background-separator);


		&.horizontal {
			height: var(--ml-gutter-text-xs);			
		}

		&.vertical {
			width: var(--ml-gutter-text-xs);			
		}
	}
}