@use '../../styles/lib/component' as *;
@use '../../styles/lib/states' as *;
@use '../../styles/lib/hooks/box' as *;

$__stylesheet__: (
	name: gradient-strip,
);

@layer base {
	.root {
		--background-color: #808080;
		--height: 6px;

		@include use-gradient;
		@include use-height;
	}
}