
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js

# local stuff

/temp

# useful ignore pattern for temp files
**/*.ignore.*
**/*.temp.*

# artifacts
**/*.js.map
**/*.css.map

# generated
/i18n.js
/yaspp.config.json
/class-bindings.json

# dev env
.vscode/settings.json
*.tsbuildinfo

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# copied content
/public/yaspp

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
/.env*

# Vercel cli artifacts
.vercel

test-results/
results.xml
unit-tests.xml
temp/

# Commit only scssfiles
*.css

playwright-report

.yarn/
.swc