@use "../../styles/lib/hooks/text" as *;
@use "../../styles/lib/hooks/box" as *;
@use "../../styles/lib/hooks/content" as *;
@use "../../styles/lib/hooks/flex" as *;
@use "../../styles/lib/hooks/animation" as *;
@use "../../styles/lib/hooks/position" as *;
@use "../../styles/lib/hooks/direction" as *;
@use "../../styles/lib/hooks/display" as *;

@use '../../styles/lib/refs';
@use '../../styles/lib/merge';
@use "../../styles/lib/states" as *;

@mixin topbar-item-base {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	height: 2.286em;
	padding: 0 6px;
	min-width: 32px;
	// background: none;

	// &:hover {
	// 	background-color: refs.ref(color-surface-mid);
	// 	cursor: pointer;
	// }
}

@mixin topbar-menu-trigger($var: refs.ref(color-surface-mid)) {
	@include topbar-item-base;

	&[data-state='open'],
	&:hover {
		background-color: $var;
	}
}

@mixin topbar-item-toggle($var: refs.ref(color-surface-dark)) {
	// @include topbar-item-base;

	// &[data-state='on'] {
	// 	background-color: $var;
	// 	@include hooks.use-background-color(toggle-group-button);
	// }
}
