@use './menuBarMixins' as mixins;
@use '../../../styles/lib/merge' as merge;
@use "../../../styles/lib/hooks/direction" as *;
@use "../../../styles/lib/hooks/box" as *;
@use "../../../styles/lib/states" as *;

$states: merge.deep($COMPONENT_STATES,
		(opened: open,
		));

@layer base {

	.root {
		@include mixins.caret-mixin("site-horizontal-menu-trigger-caret");

		.menuSectionTriggers {
			display: flex;

			@include use-direction(locale);

			.menuSectionTriggerItem {
				list-style: none;
			}
		}

		.sectionItemsList {
			// @include use-inner-gutter("site-horizontal-menu-list");
			// @include use-direction(locale);

			ul {
				display: flex;
				flex-direction: column;
			}

			.menuListItem {
				list-style: none;
			}
		}

		.content {
			@include mixins.content-mixin("site-horizontal-menu-viewport");
		}

		.indicator {
			@include mixins.indicator-mixin("site-horizontal-menu-indicator");
		}

		.arrow {
			@include mixins.arrow-mixin("site-horizontal-menu-arrow-indicator");
		}

		.viewport {
			@include mixins.viewport-mixin("site-horizontal-menu-viewport");
		}

		// stylelint-disable-next-line selector-class-pattern
		.viewportPosition {
			@include mixins.viewport-position-mixin("site-horizontal-menu-viewport");
		}

		&[data-direction='ltr'] {
			.viewportPosition {
				right: 10em;
			}
		}

		&[data-direction='rtl'] {
			.viewportPosition {
				left: 10em;
			}
		}
	}

}