@use './menuBarMixins' as mixins;
@use '../../../styles/lib/merge' as merge;
@use "../../../styles/lib/hooks/direction" as *;
@use "../../../styles/lib/hooks/box" as *;
@use "../../../styles/lib/states" as *;

$states: merge.deep($COMPONENT_STATES,
		(opened: open,
		));

@layer component {

	.root {
		// @include mixins.caret-mixin("site-horizontal-menu-trigger-caret");

		.menuSectionTriggers {
			display: flex;
			gap: 1em;
			margin: 0 1em;
			list-style: none;

			// @include use-direction(locale);

			.menuSectionTriggerItem {
				position: relative;

				.content {
					position: absolute;
					top: 1em;
					left: 0.5em;
					display: none;
				}

				&.open {
					z-index: 1;
					.content {
						display: flex;
					}
				}
			}
		}

		.sectionItemsList {
			// @include use-inner-gutter("site-horizontal-menu-list");
			// @include use-direction(locale);

			ul {
				display: flex;
				flex-direction: column;
			}

			.menuListItem {
				list-style: none;
			}
		}

		// .content {
		// @include mixins.content-mixin("site-horizontal-menu-viewport");
		// }

		// .indicator {
		// 	@include mixins.indicator-mixin("site-horizontal-menu-indicator");
		// }

		// .arrow {
		// 	@include mixins.arrow-mixin("site-horizontal-menu-arrow-indicator");
		// }

		.viewport {
			@include mixins.viewport-mixin("site-horizontal-menu-viewport");
		}

		// stylelint-disable-next-line selector-class-pattern
		.viewportPosition {
			@include mixins.viewport-position-mixin("site-horizontal-menu-viewport");
		}

		&[data-direction='ltr'] {
			.viewportPosition {
				right: 10em;
			}
		}

		&[data-direction='rtl'] {
			.viewportPosition {
				left: 10em;
			}
		}
	}

}

@layer base {

	.root {
		// @include mixins.caret-mixin("site-horizontal-menu-trigger-caret");

		.menuSectionTriggers {

			.menuSectionTriggerItem {
				.content {
					display: none;
				}

				&.open {
					z-index: 1;
					.content {
						display: flex;
					}
				}
			}
		}
	}

}