@use '../../styles/lib/component' as *;
@use '../../styles/lib/states' as *;
@use "../../styles/lib/hooks/box" as *;

$__stylesheet__: (
	name: list,
);

@layer component {

	.root {
		display: flex;
		flex-direction: column;

		.list {
			@include use-background-color;
		}
	}
}