@layer base {

.root {
	display: flex;
	box-sizing: border-box;

	&[data-fixed-position='top'] {
		position: sticky;
		z-index: 1;
		top: 0;
	}

	&[data-fixed-position='bottom'] {

		position: sticky;
		z-index: 1;
		bottom: 0;
	}

	&[data-flex-direction] {
		&[data-flex-direction='row'] {
			flex-direction: row;
		}

		&[data-flex-direction='column'] {
			flex-direction: column;
		}
	}

	&[data-space-between='true'] {
		justify-content: space-between;
	}

	&[data-align-items-center='true'] {
		align-items: center;
	}

	&[data-align-content-right='true'] {
		justify-content: right;
	}

	&[data-align-content-left='true'] {
		justify-content: left;
	}

	&[data-full-width='true'] {
		width: 100%;
	}
}
}