
@use './locale';
@use './themes';
@use './vendor';


.grecaptcha-badge {
	visibility: hidden;
}

html {
	line-height: unset;
}

@layer base {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	ul,
	ol,
	li,
	cite,
	p {
		padding: 0;
		margin: 0;
	}

	figcaption {
		color: var(--ml-color-level2);
		font-style: italic;
	}

}