@layer base {
	:root {
		.container-color {
			background-color: transparent;
		}

		.container-content-color {
			background-color: var(--ml-color-background);
		}

		.container-inverse-color {
			background-color: var(--ml-color-background-inverse);
			color: var(--ml-color-text-inverse);
		}

		.controls-container, .controls-hcontainer, .controls-vcontainer {
			background-color: var(--ml-color-background-controls);
			color: var(--ml-color-controls);
		}

		@for $i from 1 through 3 {
			.controls-container-level#{$i}, .controls-hcontainer-level#{$i}, .controls-vcontainer-level#{$i} {
				background-color: var(--ml-color-background-controls-level#{$i});
				color: var(--ml-color-controls-level#{$i});
			}
		}


		.control-hover:hover {
			color: var(--ml-color-text-hover);
		}

		.header-text {
			color: var(--ml-color-text-inverse);
		}

	}

}