// High level container classes

@layer base {

	.controls-container {
		display: flex;
		flex-direction: row;
		padding: calc(var(--ml-font-size-md) * 0.5);
		gap: calc(var(--ml-font-size-md) * 0.5);
	}

	.controls-hcontainer {
		@extend .controls-container;
	}

	.controls-vcontainer {
		@extend .controls-container;
		flex-direction: column;
	}


}