$sizes: ("xs", "sm", "md", "lg", "xl", "2xl");

@layer base {
	.ml-icon {
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
	@each $size in $sizes {
		@debug "icon size {$size}";
		.icon-#{$size} {
			@extend .ml-icon;
			width: var(--ml-font-size-#{$size});
			height: var(--ml-font-size-#{$size});
		}
	}
}
