@layer base {
	.document-text {
		font-family: var(--ml-main-font);
		font-size: var(--ml-font-size-md);
	}

	.header-text {
		color: var(--ml-color-text-inverse);
	}

	.emph-text {
		@extend .document-text;
		font-style: italic;
	}

	.title1-text {
		@extend .document-text;
		font-size: var(--ml-font-size-3xl);
	}

	.title2-text {
		@extend .document-text;
		font-size: var(--ml-font-size-2xl);
	}

	.title3-text {
		@extend .document-text;
		font-size: var(--ml-font-size-xl);
	}

	.title4-text {
		@extend .document-text;
		font-size: var(--ml-font-size-lg);
	}
}