// $stylesheet__: (
// 	name: annotation,
// );

// @use "../../styles/lib/component";
// @use "../../styles/lib/hooks/text" as text;

@layer base {
	.root {
		--font-size: 0.75em;
		--font-weight: normal;
		--line-height: 1em;
		--offset-y: -0.5em;
		--padding-left: 0.15em;
		--padding-right: 0.15em;
		--data-content: #{attr(data-prefix-content)}#{attr(data-seq)};

		color: var(--ml-color-text-action);

		position: relative;

		font-size: var(--ml-font-size-xs);
		// @include text.use-line-height;
		top: -0.3em;
		&:active {
			user-select: none;
		}

		&::before {
			content: var(--ml-content-annotation-prefix);
			// @include mixin.prefix("annotation");
		}

		&::after {
			content: var(--ml-content-annotation-suffix);
			// @include mixin.suffix("annotation");
		}
	}
}