$stylesheet__: (
	name: annotation,
);

@use '../popover/Popover.mixin' as popover;
@use '../popover/PopoverTrigger.module' as trigger;
@use './Annotation.mixin' as mixin;
// @use '../component' as component2;
@use "../../styles/lib/component";
@use "../../styles/lib/hooks/position";
@use "../../styles/lib/hooks/text" as text;

@layer base {
	.root {
		--font-size: 0.75em;
		--font-weight: normal;
		--line-height: 1em;
		--offset-y: -0.5em;
		--padding-left: 0.15em;
		--padding-right: 0.15em;
		--data-content: #{attr(data-prefix-content)}#{attr(data-seq)};

		color: var(--ml-color-text-action);

		position: relative;

		@include text.use-font-size;
		@include text.use-line-height;
		@include position.use-offset-y;
		@include popover.trigger("popover-trigger");

		&::before {
			@include mixin.prefix("annotation");
		}

		&::after {
			@include mixin.suffix("annotation");
		}
	}
}