@use './NavItem.mixin' as mixins;
@use "./NavItem.meta" as *;
@use '../../../styles/lib/component' as *;
@use '../../../styles/lib/states' as *;
@use "../../../styles/lib/hooks/text" as *;
@use "../../../styles/lib/hooks/box" as *;
@use "../../../styles/lib/hooks/content" as *;
@use "../../../styles/lib/hooks/flex" as *;
@use "../../../styles/lib/hooks/animation" as *;
@use "../../../styles/lib/hooks/position" as *;
@use "../../../styles/lib/hooks/direction" as *;
@use "../../../styles/lib/hooks/display" as *;

@layer component {
	.root {
		text-decoration: none;
		display: block;

		// @include use-background-color;
		// @include use-radius;

		.content {
			display: flex;
			flex-direction: row;
			gap: var(--ml-font-size);

			// @include use-gap("nav-item-item");
			// @include use-padding-top("nav-item-item");
			// @include use-padding-bottom("nav-item-item");
			// @include use-padding-right("nav-item-item");
			// @include use-padding-left("nav-item-item");

			.icon {
				position: relative;
				top: 0.1em; // todo: use offset

				// @include use-text-color("nav-item-icon");
			}

			.meta {
				display: flex;
				flex-direction: column;

				// @include use-gap("nav-item-content");

				.title {
					white-space: nowrap;
					// @include mixins.text-hooks-mixin("nav-item-title");
				}

				.author,
				.description {
					font-size: var(--ml-font-size-sm);
					color: var(--ml-color-controls-level2);
				}
			}
		}

		&:hover {
			@include use-background-color("nav-item", state(hovered));

			.content {
				.title {
					@include use-text-color("nav-item-title", state(hovered));
				}

				.author,
				.description {
					@include use-text-color("nav-item-subtitle", state(hovered));
				}

				.icon {
					@include use-text-color("nav-item-icon", state(hovered));
				}
			}
		}
	}
}