@use '../../styles/lib/merge';
@use '../../styles/lib/states' as *;
@use '../../styles/lib/component' as *;
@use '../../styles/lib/states' as *;
@use '../../styles/lib/refs' as *;


@function -text-color($state: '') {
	@return compRef("popover-trigger", text-color, $state);
}

@function -bg-color($state: '') {
	@return compRef("popover-trigger", background-color, $state);
}

@function -suffix-color($state: '') {
	@return compRef("popover-trigger", asterisk-color, $state);
}

$color: to-css-var(popover-trigger-text-color);
$bgColor: to-css-var(popover-trigger-background-color);
$suffixColor: to-css-var(term-suffix-text-color);

@layer component {
	.root {
		&[data-popover-state='closed'] {
			#{$suffixColor}: -suffix-color();

			&:hover {
				#{$color}: -text-color(state(hovered));
				#{$suffixColor}: -suffix-color(state(hovered));
			}

			// todo: expand theme to support this state
			// &:active {
			// 	#{$color}: -text-color(clicked);
			// 	#{$bgColor}: -bg-color(clicked);
			// 	#{$suffixColor}: -suffix-color(clicked);
			// }
		}

		&[data-popover-state='open'] {
			#{$color}: -text-color(state(selected));
			#{$bgColor}: -bg-color(state(selected));
			#{$suffixColor}: -suffix-color(state(selected));

			// todo: expand theme to support this state
			// &:hover {
			// 	#{$color}: -text-color(selected-hovered);
			// 	#{$bgColor}: -bg-color(selected-hovered);
			// 	#{$suffixColor}: -suffix-color(selected-hovered);
			// }

			// todo: expand theme to support this state
			// &:active {
			// 	#{$color}: -text-color(selected-clicked);
			// 	#{$bgColor}: -bg-color(selected-clicked);
			// 	#{$suffixColor}: -suffix-color(selected-clicked);
			// }
		}
	}
}