@use '../../styles/mixins/animations' as animations;
@use '../../styles/mixins/keyframes' as keyframes;
@use '../../styles/lib/component' as *;
@use '../../styles/lib/states' as *;
@use '../../styles/lib/hooks/box' as *;
@use '../../styles/lib/hooks/content' as *;

$__stylesheet__: (
	name: loading-indicator,
);

@layer component {
	.root {
		$size: 24px;
		$sizes: "xs" , "sm" , "md" , "lg" , "xl" , "2xl" , "3xl" , "4xl" , "5xl";
		min-height: 5em;

		// @each $sz in $sizes {
		// 	&.size-#{$sz} {
		// 		height: calc(3 * var(--ml-font-size-#{$sz}));
		// 	}
		// };


		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		// @include use-height;

		.image {
			@include keyframes.rotation;
			animation-name: rotation;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
			animation-duration: 2s;

			height: $size;
			width: auto;

			content: var(--ml-logo-dark-url);
			@each $sz in $sizes {
				&.size-#{$sz} {
					height: var(--ml-font-size-#{$sz});
				}
			};
		}

		.label {
			margin-top: 1em;
			@each $sz in $sizes {
				&.size-#{$sz} {
					font-size: var(--ml-font-size-#{$sz});
				}
			};

			display: block;

			@include use-vertical-margin("loading-indicator-label");
		}
	}
}