@use "sass:color";
@use "../site";

$colors: (
	background: #222,
	background-hover: color.adjust(#222, $lightness: 20%),
	text: #FEFEFE,
	action-color: #BBF
);

@layer theme {
	@include site.root($colors: $colors);
}