@use "sass:color";
@use "../site";

$colors: (
	background: #222,
	background-hover: color.adjust(#222, $lightness: 20%),
	background-inverse: #EEE,
	text-inverse: #222,
	text: #FEFEFE,
	action-color: #BBF
);

$options: (
		color-increment: -10%,
		background-increment: 10%,
);

@layer theme {
	@include site.root($colors: $colors, $colorOptions: $options);
}