@use "sass:color";
@use "../site";

$colors: (
	background: #FAFAFD,
	background-hover: color.adjust(#FAFAFC, $lightness: 20%),
	text: #252525,
	action-color: #55F
);

@layer theme {
	@include site.root($colors: $colors);
}