@use "../../styles/lib/refs" as *;
@use '../../styles/lib/component' as *;
@use '../../styles/lib/states' as *;
@use '../../styles/lib/hooks' as *;

$__stylesheet__: (
	name: drawer,
);

.root {
	display: inherit;
	// border: 5px solid red;
	// padding: 2em;
	// #{varName(nav-item)}-background-color: blue;
}
