@use '../../../styles/lib/component' as *;
@use '../../../styles/lib/states' as *;
@use "../../../styles/lib/hooks/flex" as *;
@use '../mixin' as base;
@use "./ToggleGroup.meta" as *;

@layer base {
	.root {
		--gap: 4px;

		display: flex;
		border: 1px solid var(--ml-color-controls-level1);

		// @include use-gap;

		.item {
			// @include base.toggle-button("toggle-group-button");
		}
	}
}