@use "sass:map";
@use "lib/_merge" as merge;

@function load($overrides: ()) {
	$default: (
		background: #FDFDFD,
		background-hover: #BBB,
		text-color: #222,
		action-color: #22F
	);
	@return merge.deep($default, $overrides);
};

@mixin root($colors: ()) {
	$vars: load($colors);
	:root {
		--ml-color: #{map.get($vars, text-color)};
		--ml-background: #{map.get($vars, background)};
	}
	body {
		color: var(--ml-color);
		background-color: var(--ml-background);
	}
}

