@use "sass:map";
@use "sass:string";
@use "lib/_merge" as merge;
@use "lib/varsblock";

@function load($overrides: ()) {
	$default: (
		background: #FDFDFD,
		background-hover: #BBB,
		text: #222,
		text-hover: #000,
		text-action: #22F,
		text-action-hover: #11B,

	);
	@return merge.deep($default, $overrides);
};

@mixin root($colors: ()) {
	$vars: load($colors);
	:root {
		@include varsblock.vars($map: $vars, $prefix: "ml-color");
	}
	body {
		color: var(--ml-color-text);
		background-color: var(--ml-color-background);
	}
	@each $key, $value in $vars {
		$var: --ml-color-#{$key};
		$cls: '.ml-#{$key}'; 
		@if string.index($key, 'background') == 0 {
			#{$cls} {
				background-color: #{$var};
			}
		}
		@else {
			#{$cls} {
				color: #{$var};
			}
		}
	}
}

