@use "sass:map";
@use "sass:list";
@use "lib/merge";
@use "lib/lookup";
@use "lib/varsblock";

@function load($overrides: ()) {
	$default: (
		font-family: (
			font1: 'Roboto Slab, serif',
			font2: 'Assistant, sans-serif'
		),
		font-size: (
			base: 14px,
			xs: 0.7em,
			sm: 0.9em,
			md: 1em,
			lg: 1.041em,
			xl: 1.241em,
			2xl: 1.302em,
			3xl: 1.614em,
			4xl: 2.03em,
			5xl: 2.5em,
		),
		font-weight: (
			thin: 100,
			regular: 300,
			medium: 500,
			bold: 700,
		),
		line-height: (
			xs: 1.4em,
			sm: 1.4em,
			md: 1.6em,
			lg: 2em,
			xl: 3em,
		),
		spacing: (
			xs: 0.5em,
			sm: 0.75em,
			md: 1em,
			lg: 1.002em,
			xl: 1.102em,
			2xl: 1.202em,
			3xl: 1.302em,
		),
	);
    @return merge.deep($default, $overrides);
};

@mixin root($typography: ()) {
	$vars: load($typography);
	$fsz: map.get($vars, font-size);
	$ffml: map.get($vars, font-family);
	$fw: map.get($vars, font-weight);
	$flh: map.get($vars, line-height);
	$fsp: map.get($vars, spacing);
	$prefixmap: (
		font-family: "ml-font",
		font-size: "ml-font-size",
		font-weight: "ml-font-weight",
		line-height: "ml-line-height",
		spacing: "ml-line-spacing"
	);

	:root {
		--ml-main-font: var(--ml-font-family-font1);
		--ml-aux-font: var(--ml-font-family-font2);
		--ml-font-size: var(--ml-font-size-base);
		@each $key, $prefix in $prefixmap {
			@include varsblock.vars($map: map.get($vars, $key), $prefix: $prefix);
		}
		// @include varsblock.vars($map: $fsz, $prefix: "ml-font");
		// @each $size in $fsz {
		// 	// @debug "font size #{$size} #{type-of($size)}";
		// 	--ml-font-#{list.nth($size, 1)}: #{list.nth($size, 2)};
		// }
	}

	body {
		font-family: var(--ml-main-font);
		font-size: var(--ml-font-size);
	}

	.text-tiny {
		font-size: --var(--ml-font-xs);
	}
};


