@layer base {
	.root {
		margin-left: 1rem;
		font-size: var(--ml-font-size-sm);
		/* line-height: 21px; */
		padding: 0 1rem;
		border-inline-start: 3px solid var(--ml-color-background-controls);

		// todo: implement cite properly
		cite {
			padding: 0;
		}
	}
}