@use '../../styles/lib/component' as *;
@use '../../styles/lib/states' as *;
@use '../../styles/lib/hooks/text' as *;
@use '../../styles/lib/hooks/box' as *;

$__stylesheet__: (
	name: blockquote,
);

@layer base {
	.root {
		margin: 0;

		@include use-text-color;
		@include use-vertical-padding;
		@include use-horizontal-padding;

		// todo: implement cite properly
		cite {
			@include use-vertical-padding("blockquote-cite");
			@include use-horizontal-padding("blockquote-cite");
		}
	}
}