@use '../../styles/config/consts';
@use '../../styles/lib/component' as *;
@use '../../styles/lib/states' as *;
@use '../../styles/lib/hooks' as *;

$__stylesheet__: (
	name: css-var-image,
);

@layer base {

	.root {
		--size: 24px;
		--url: url('https://placehold.co/40x40');

		@include use-content-url;
		@include use-size;
	}

}

// Export properties to make them available in JS
// see: CSSVarImage - getCustomStyle helper
// stylelint-disable selector-pseudo-class-no-unknown
// stylelint-disable property-no-unknown
:export {
	theme-prefix: #{consts.$theme-namespace-prefix};
	component-name: "css-var-image";
	property: url;
}