@use "../../styles/lib/component" as *;
@use "../../styles/lib/states" as *;
@use "../../styles/lib/hooks/text" as *;
@use "../../styles/lib/hooks/box" as *;
@use "../../styles/lib/hooks/content" as *;
@use "../../styles/lib/hooks/flex" as *;
@use "../../styles/lib/hooks/animation" as *;
@use "../../styles/lib/hooks/position" as *;
@use "../../styles/lib/hooks/direction" as *;
@use "../../styles/lib/hooks/display" as *;

$__stylesheet__: (
	name: logo,
);

.root {
	@include use-width;
	@include use-height;

	&[data-mode='light'] {
		content: var(--ml-logo-dark-url);
	}

	&[data-mode='dark'] {
		content: var(--ml-logo-light-url);
	}
}
