@use '../../../../lib/refs';
@use '../../../../lib/states';

$vars: (
	icon: (
		text-color: refs.ref(color-surface-contrast),
		states.state(hovered): (
			text-color: refs.ref(color-surface-contrast),
		),
	),
);
