
@layer component {
	.root {
		color: var(--ml-color-text-action);
		cursor: pointer;

		// @include use-text-color;

		a:any-link {
			text-decoration: none;
			color: var(--ml-color-text-action);
		}

		&:hover,
		a:any-link:hover {
			color: var(--ml-color-text-action-hover);
		}

		&:active,
		a:any-link:active {
			color: var(--ml-color-text-action-active);
		}
	}
}