@use 'sass:map';


$footerMinheight: 20vh;

@mixin page-container-mixin() {
	margin: 0 auto;
	max-width: min(800px, 90vw);

	// @include use-inner-gutter($var);
}

.root {
	display: flex;
	flex-direction: column;
	max-height: 100vh;
	max-width: 100vw;
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;

	.header_container {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;

		.header_level1 {
			display: grid;
			grid-template-columns: max-content 1fr;
			grid-template-areas: "title subtitle .";
		}

		@media (orientation: portrait) {
			.header_level1 {
				grid-template-columns: max-content 1fr;
				grid-template-areas: "title ."
					"subtitle subtitle";
			}
		}
	}

	.logo {
		width: 20px;
	}

	.topbar {

		.title {
			display: flex;
			grid-area: title;
			gap: calc(var(--ml-font-size-md) * 0.5);
			padding: 0 var(--ml-gutter-text-md);
		}

		.subtitle {
			grid-area: subtitle;
			display: flex;
			align-items: center;
		}
		
		@media (orientation: portrait) {
			.title {
				padding-top: var(--ml-gutter-text-md);
			}

			.subtitle {
				padding: 0 var(--ml-gutter-text-md);
			}

			.menu-button {
				padding: var(--ml-gutter-text-md) var(--ml-gutter-text-md);
			}
		}
		.panel {
			gap: .5em;
			margin: 2px 0;
			display: flex;
			justify-content: flex-end;
			align-items: baseline;

			// .localeSelect {
			// 	@include locale-select-mixin.button(map.get(toggle-refs.$toggle, default));
			// }

			.themeSelect {
				margin-right: var(--ml-gutter-text-md);
			}
		}
	}

	.content_container {
		display: block;
		flex-grow: 0;
		overflow: auto;

		.page_container {
			display: grid;
			grid-template-columns: max-content 1fr max-content;
		}
	}

	.article {
		@include page-container-mixin();
		// @include use-margin-top("layout-page");

		min-height: calc(100vh - $footerMinheight);
	}

	.dummy {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
		gap: 1em;
	}

	.footer {
		display: flex;
		margin: 0 auto;
		justify-content: center;
		// @include use-background-color("layout-footer");

		.container {
			display: flex;
			justify-content: space-evenly;
			width: fit-content;
			max-width: 80%;
			// grid-auto-columns: minmax(0, 1fr);
			// grid-auto-flow: column; // flex-direction: row;
			// grid-template-rows: 1fr;
			// // // grid-template-columns: repeat(5, max-content);
			// grid-template-areas: "."
			// 	"site";
			// margin: auto;
			// // grid-template-columns: repeat(5, minmax(min-content, 1fr));
			// grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));

			.sections {
				display: flex;
				justify-content: space-between;
				flex-grow: 1;
			}


			&>* {
				max-width: 30%;
				width: fit-content;
				flex-grow: 0;
			}

			.site {
				grid-area: site;
				display: flex;
				flex-direction: column;
			}

			// .container {
			// 	@include page-container-mixin();
			// }

			// .columns {
			// 	display: flex;
			// 	flex-direction: row;
			// 	justify-content: space-between;
			// 	gap: 2em;
			// 	min-height: $footerMinheight;
			// 	max-width: 800px;
			// }

			.column {
				display: flex;
				flex-direction: column;

				// &:first-child {
				// 	max-width: 40%;
				// }

				.list {
					padding: 0;

					.item {
						list-style: none;
					}
				}

				span:not([data-variant]) {
					font-size: 0.85em;
				}
			}
		}

		@media (orientation: portrait) {
			.container {
				display: grid;
				grid-template-columns: 1fr;

				.sections {
					min-width: 100%;
				}

				.site {
					padding-top: 0.5em;
					grid-row: 2;
					max-width: unset;
					grid-column: 1 / 5;
				}
			}
		}

	}


	.drawer {
		// @include sidebar-mixins.background-color;

		.menuHeaderContainer {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			padding: var(--ml-gutter-controls-md);
			border-bottom: 1px solid var(--ml-color-controls-level3);
		}

		.menuHeader {
			// padding: 1em;
			display: flex;
			align-items: center;
			gap: 1em;
		}

		.panel {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			gap: .4em;

			.localeSelect {
			}

			.themeSelect {
				margin-right: 0;
			}
		}

		.menu {
		}
	}
}